includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
  level: max
  inferPrivatePropertyTypeFromConstructor: true
  paths:
    - src
    - templates
    - tests
  parallel:
    maximumNumberOfProcesses: 2